.main-footer {
  background: $color-0;
  color: $white;

  .container {
    display: flex;
    justify-content: space-between;
    padding: rem(50px) $padding rem(60px);

    @media #{$max-sm} {
      flex-direction: column;
      padding: 0 0 rem(30px);
    }

    .col {
      flex-grow: 1;
      flex-basis: 0;

      @media #{$max-sm} {
        width: 100%;
      }

      .text-tel {
        text-align: center;
        font-size: rem(18px);

        @media #{$max-sm} {
          font-size: rem(10px);
          font-weight: bold;
        }

        .big {
          font-size: rem(40px);
          line-height: 1;
          font-weight: bold;
          color: $color-1;

          @media #{$max-sm} {
            font-size: rem(20px);
          }
        }

        .small {
          font-size: rem(16px);

          @media #{$max-sm} {
            font-size: rem(8px);
          }
        }
      }

      &.col-logo {
        @media #{$max-sm} {
          display: flex;
          justify-content: space-between;
          padding: $padding;
          border-bottom: 1px solid rgba($white, 0.3);
        }

        .site-logo {
          display: block;
          width: rem(140px);

          @media #{$max-sm} {
            width: rem(75px);
          }

          img {
            width: 100%;
          }
        }

        .text-tel {
          display: none;

          @media #{$max-sm} {
            display: block;
          }
        }
      }

      &.col-menu {
        ul {
          display: block;
          margin-bottom: rem(20px);

          @media #{$max-sm} {
            margin-bottom: -1px;
            border-bottom: 1px solid rgba($white, 0.3);
          }

          &:last-child {
            margin-bottom: 0;
          }

          li {

            a,
            strong {
              display: flex;
              align-items: center;
              font-size: rem(24px);
              color: $white;
              margin-bottom: rem(8px);

              @media #{$max-sm} {
                font-size: rem(14px);
                padding: rem(4px) $padding;
              }

              &:hover {
                opacity: 0.8;
              }
            }

            strong {
              @media #{$max-sm} {
                padding: rem(10px) $padding rem(8px);

                &:after {
                  content: "";
                  display: block;
                  width: rem(12px);
                  height: rem(12px);
                  margin-left: auto;
                  background: use-svg(arrow, $white) no-repeat center center transparent;
                  background-size: contain;

                  @include rotate(90deg);
                }
              }
            }

            &.active {
              strong {
                &:after {
                  @include rotate(-90deg);
                }
              }
            }
          }
        }
      }

      &.col-infos {
        display: flex;
        align-items: center;
        flex-direction: column;

        .text-tel {
          display: block;

          @media #{$max-sm} {
            display: none;
          }
        }

        ul {
          display: flex;
          justify-content: space-around;
          margin-top: rem(40px);

          @media #{$max-sm} {
            margin-top: rem(20px);
          }

          li {
            a {
              display: block;
              width: rem(44px);
              height: rem(44px);
              margin: 0 rem(10px);
              background: no-repeat center center;
              background-size: contain;

              @media #{$max-sm} {
                width: rem(32px);
                height: rem(32px);
              }

              &:hover {
                opacity: 0.8;
              }

              &.facebook {
                background-image: use-svg(facebook, $white);
              }

              &.twitter {
                background-image: use-svg(twitter, $white);
              }

              &.instagram {
                background-image: use-svg(instagram, $white);
              }

              &.youtube {
                background-image: use-svg(youtube, $white);
              }
            }
          }
        }

        .socials {
          @media #{$max-sm} {
            order: 2;
          }
        }

        .apps {
          @media #{$max-sm} {
            order: 1;
          }

          ul {
            li {
              a {
                width: rem(130px);
                height: rem(40px);
                margin: 0 rem(6px);

                &.google-play {
                  background-image: use-svg(google-play);
                }

                &.app-store {
                  background-image: use-svg(app-store);
                }
              }
            }
          }
        }
      }
    }
  }
}
