<article class="landing-page" role="article" about="/dental">


	<section class="landing-banner landing-banner-dente-de-leite">
		<div class="container">
			<div class="text">
				<div class="title">
					<p>BB Seguro<br/>
						Residencial</p>
				</div>
				<div class="description">
					<p>Proteção, benefícios, vantagens e um pacote de assistências para facilitar o seu dia a dia.</p>
				</div>
				<a class="btn-yellow btn-big" href="/">
					FAZER COTAÇão
				</a>
			</div>
		</div>
		<div class="image">
			<picture>
				<img src="/themes/custom/bbseg/images/produto-2/banner.png">
			</picture>
		</div>
	</section>


	<section class="landing-card txt-50">
		<div class="container">
			<div class="box-html">
				<h2>Toda proteção para o lugar mais especial</h2>
				<p>O BB Seguro Residencial foi pensado para manter o seu cantinho protegido. Você mantém sua casa ou seu apartamento seguro, e ainda tem à disposição assistências que facilitam a sua vida com muita comodidade.
				</p>
			</div>
			<div class="image">
				<picture>
					<img src="/themes/custom/bbseg/images/produto-2/img-01.png">
				</picture>
			</div>
		</div>
	</section>


	<section class="landing-card txt-50 txt-right">
		<div class="container">
			<div class="box-html">
				<h2>É simples de contratar e ainda mais simples de usar.</h2>
				<p>Nunca é tarde para cuidar do que é importante pra você.</p>
				<p>Você pode garantir agora a proteção do seu lar, além do conforto de toda família, e ainda conta com:</p>
				<p>&nbsp;</p>
				<ul>
					<li>coberturas especiais</li>
					<li>benefícios e vantagens</li>
					<li>suporte de equipe especializada</li>
					<li>assistências 24h</li>
				</ul>
				<p>&nbsp;</p>
				<a href="#" class="btn">fazer cotação</a>
			</div>
			<div class="image">
				<picture>
					<img src="/themes/custom/bbseg/images/produto-2/img-02.png">
				</picture>
			</div>
		</div>
	</section>


	<section class="section-good-infos">
		<div class="container">
			<div class="list-good-infos">
				<div class="item">
					<div class="icon">
						<img src="/themes/custom/bbseg/images/produto-2/icon-01.png">
					</div>
					<h3 class="title">Fácil acionar</h3>
					<div class="box-html">
						<p>Canais de atendimento 24h.</p>
					</div>
				</div>
				<div class="item">
					<div class="icon">
						<img src="/themes/custom/bbseg/images/produto-2/icon-02.png">
					</div>
					<h3 class="title">Cabe no bolso</h3>
					<div class="box-html">
						<p>Planos acessíveis pensados<br/>
							para cada necessidade.</p>
					</div>
				</div>
				<div class="item">
					<div class="icon">
						<img src="/themes/custom/bbseg/images/produto-2/icon-03.png">
					</div>
					<h3 class="title">Pagamento facilitado</h3>
					<div class="box-html">
						<p>No débito em conta ou parcelado<br/>
							no cartão de crédito.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section-additional-text">
		<div class="container">
			<div class="box-html">
				<h2 class="title">
					coberturas disponíveis</h2>
				<h2>Cobertura básica:<br/>
					Incêndio, queda de raio e explosão</h2>
				<p>&nbsp;</p>
				<p>Cobre incêndio, explosão e/ou queda de raio que danifiquem o imóvel ou os bens que estejam nele.</p>
			</div>
		</div>
	</section>


	<section class="landing-mini-cards">
		<div class="container">
			<div class="box-html">
				<h2>Você pode incluir as seguintes coberturas</h2>
			</div>
			<div class="list-mini-cards">
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/produto-2/icon-04.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Despesas Emergenciais
						</div>
						<div class="description">
							<p>Cobre hospedagem provisória em outro local, alimentação, transporte e guarda de animais domésticos.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/produto-2/icon-05.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Desmoronamento
						</div>
						<div class="description">
							<p>Cobre desmoronamento de parede ou de qualquer elemento estrutural (coluna, viga, laje de piso ou de teto).</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/produto-2/icon-06.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Perda ou pagamento de aluguel
						</div>
						<div class="description">
							<p>Cobre o pagamento do aluguel se tiver de desocupar o imóvel ou se o contrato de aluguel for rescindido.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/produto-2/icon-07.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Quebra de vidros
						</div>
						<div class="description">
							<p>Cobre prejuízos decorrentes de quebra e de danos materiais em vidros e vitrais do imóvel.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/produto-2/icon-08.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Responsabilidade Civil Familiar
						</div>
						<div class="description">
							<p>Cobre o pagamento por danos corporais ou materiais causados involuntariamente a terceiros.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/produto-2/icon-09.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Danos elétricos
						</div>
						<div class="description">
							<p>Cobre danos materiais em bens decorrentes de descargas, problemas elétricos etc., ocorridos fora do terreno do imóvel.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/produto-2/icon-10.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Tumultos e greves e lock-out
						</div>
						<div class="description">
							<p>Cobre perdas e danos materiais decorrentes de tumultos, greves e lock-out.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/produto-2/icon-11.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Roubo e Furto Mediante Arrombamento
						</div>
						<div class="description">
							<p>Cobre prejuízos causados decorrentes de roubo, extorsão e furto no imóvel.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/produto-2/icon-12.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Terremoto, maremoto e tremor de terra
						</div>
						<div class="description">
							<p>Cobre perdas e danos materiais em decorrência de terremoto, maremoto, tremor de terra.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/produto-2/icon-13.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Vendaval, impacto de veículo ou queda de aeronave
						</div>
						<div class="description">
							<p>Cobre perdas e danos aos bens decorrentes de vendaval, impacto de veículo ou queda de aeronave.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section-assistance">
		<div class="container">
			<div class="box-html">
				<h2>planos de assistência</h2>
			</div>
			<div class="list-assistance">
				<div class="item">
					<h2 class="title">
						Plano Básico
					</h2>
					<p class="description">
						Ideal pra quem precisa de assistências essenciais para o dia a dia.
					</p>
					<div class="accordion">
						<div class="accordion-content">
							<ul>
								<li>Chaveiro</li>
								<li>Hidráulico</li>
								<li>Eletricista</li>
								<li>Vidraceiro</li>
								<li>Desentupimento</li>
								<li>Conserto de eletros da linha branca</li>
								<li>Assistência em antenas</li>
								<li>Instalação de olho mágico</li>
								<li>Instalação de vedante ou rodo na porta de entrada</li>
								<li>Lubrificação de fechaduras e dobradiças</li>
								<li>Cobertura provisória de telhados</li>
								<li>Serviço de vigia</li>
								<li>Indicação de profissionais</li>
							</ul>
						</div>
						<div class="accordion-header">
							<span>Conheça as assistências</span>
						</div>
					</div>
				</div>
				<div class="item">
					<h2 class="title">
						Plano Completo
					</h2>
					<p class="description">
						Perfeito pra quem quer tranquilidade e mais facilidades para o dia a dia.
					</p>
					<div class="accordion">
						<div class="accordion-content">
							<ul>
								<li>Chaveiro</li>
								<li>Hidráulico</li>
								<li>Eletricista</li>
								<li>Vidraceiro</li>
								<li>Desentupimento</li>
								<li>Conserto de eletros da linha branca</li>
								<li>Assistência em antenas</li>
								<li>Instalação de olho mágico</li>
								<li>Instalação de vedante ou rodo na porta de entrada</li>
								<li>Lubrificação de fechaduras e dobradiças</li>
								<li>Cobertura provisória de telhados</li>
								<li>Serviço de vigia</li>
								<li>Indicação de profissionais</li>
							</ul>
						</div>
						<div class="accordion-header">
							<span>Conheça as assistências</span>
						</div>
					</div>
				</div>
				<div class="item">
					<h2 class="title">
						Plano Especial Casa
					</h2>
					<p class="description">
						Pensado nas conveniências de quem mora em casa.
					</p>
					<div class="accordion">
						<div class="accordion-content">
							<ul>
								<li>Chaveiro</li>
								<li>Hidráulico</li>
								<li>Eletricista</li>
								<li>Vidraceiro</li>
								<li>Desentupimento</li>
								<li>Conserto de eletros da linha branca</li>
								<li>Assistência em antenas</li>
								<li>Instalação de olho mágico</li>
								<li>Instalação de vedante ou rodo na porta de entrada</li>
								<li>Lubrificação de fechaduras e dobradiças</li>
								<li>Cobertura provisória de telhados</li>
								<li>Serviço de vigia</li>
								<li>Indicação de profissionais</li>
							</ul>
						</div>
						<div class="accordion-header">
							<span>Conheça as assistências</span>
						</div>
					</div>
				</div>
				<div class="item">
					<h2 class="title">
						Plano Especial Apartamento
					</h2>
					<p class="description">
						Pensado nas conveniências de quem mora em apartamento.
					</p>
					<div class="accordion">
						<div class="accordion-content">
							<ul>
								<li>Chaveiro</li>
								<li>Hidráulico</li>
								<li>Eletricista</li>
								<li>Vidraceiro</li>
								<li>Desentupimento</li>
								<li>Conserto de eletros da linha branca</li>
								<li>Assistência em antenas</li>
								<li>Instalação de olho mágico</li>
								<li>Instalação de vedante ou rodo na porta de entrada</li>
								<li>Lubrificação de fechaduras e dobradiças</li>
								<li>Cobertura provisória de telhados</li>
								<li>Serviço de vigia</li>
								<li>Indicação de profissionais</li>
							</ul>
						</div>
						<div class="accordion-header">
							<span>Conheça as assistências</span>
						</div>
					</div>
				</div>
			</div>
			<div class="obs">
				<a href="#" class="btn">fazer cotação</a>
			</div>
		</div>
	</section>


	<section class="section-comment">
		<div class="container">
			<div class="list-comments">
				<div class="item">
					<div class="image"><img src="/themes/custom/bbseg/images/produto-2/img-03.png"></div>
					<div class="text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id metus non sem finibus vehicula. Vivamus ultricies sem velit, id posuere dolor tristique ut. Fusce sodales orci non risus facilisis tristique. Vestibulum sapien justo, cursus nec ullamcorper ut, laoreet et orci. Phasellus dolor lorem, convallis ac nibh nec, interdum aliquam nisl. Ut facilisis turpis sed ipsum consequat feugiat. Curabitur faucibus iaculis fermentum.</p>
						<p class="author">João Neto Filho, cliente BB Seguros</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="landing-investments">
		<div class="container">
			<div class="box-html">
				<h2>Conheça os outros seguros bb</h2>
			</div>
			<div class="list-investments">
				<div class="item-investment">
					<div class="image"><img src="/themes/custom/bbseg/images/produto-2/img-04.png"></div>
					<div class="text">
						<div class="title">
							BB Seguro Vida
						</div>
						<div class="description">
							<p>Proteja quem é importante pra você e tenha benefícios para usar no dia a dia.</p>
						</div>
						<div class="buttons">
							<a class="btn-white" href="/dente-de-leite">
								Saiba mais
							</a>
							<a class="btn" href="/dente-de-leite">
								fazer cotação
							</a>
						</div>
					</div>
				</div>
				<div class="item-investment">
					<div class="image"><img src="/themes/custom/bbseg/images/produto-2/img-05.png"></div>
					<div class="text">
						<div class="title">
							BB Seguro Moto
						</div>
						<div class="description">
							<p>A proteção ideal para a sua moto, com coberturas especiais e assistências 24h.
							</p>
						</div>
						<div class="buttons">
							<a class="btn-white" href="/dente-de-leite">
								Saiba mais
							</a>
							<a class="btn" href="/dente-de-leite">
								fazer cotação
							</a>
						</div>
					</div>
				</div>
				<div class="item-investment">
					<div class="image"><img src="/themes/custom/bbseg/images/produto-2/img-06.png"></div>
					<div class="text">
						<div class="title">
							SEGURO RURAL
						</div>
						<div class="description">
							<p>Do plantio à colheita, toda a proteção que o Produtor Rural precisa.</p>
						</div>
						<div class="buttons">
							<a class="btn-white" href="/dente-de-leite">
								Saiba mais
							</a>
							<a class="btn" href="/dente-de-leite">
								fazer cotação
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section-faq">
		<div class="container">
			<div class="intro">
				<h2 class="title">
					Você ainda tem dúvidas?
				</h2>
				<p class="description">
					A gente esclarece pra você.
				</p>
			</div>
			<div class="list-accordion">
				<div class="accordion">
					<div class="accordion-header">
						Lorem Ipsum</div>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="accordion">
					<div class="accordion-header">
						Lorem Ipsum</div>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="accordion">
					<div class="accordion-header">
						Lorem Ipsum</div>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
			<div class="buttons">
				<a class="btn-white" href="#">Mais dúvidas</a>
			</div>
		</div>
	</section>
</article>

<div class="modal" id="modalRouboFurto">
	<a modal-close class="btn-close">
		X
	</a>
	<div class="modal-content">
		<div class="image">
			<img src="/themes/custom/bbseg/images/produto-2/img-modal.png">
		</div>
		<div class="text">
			<div class="box-html">
				<h2>Roubo e Furto Mediante Arrombamento</h2>
				<p>&nbsp;</p>
				<p>Esta cobertura visa garantir o pagamento de indenização relacionada a prejuízos causados ao imóvel segurado, em caso de:</p>
				<p>&nbsp;</p>
				<ul>
					<li>roubo</li>
					<li>extorsão</li>
					<li>furto mediante arrombamento</li>
					<li>danos aos bens ou a interesses cobertos pela simples tentativa</li>
				</ul>
				<p>&nbsp;</p>
			</div>
			<a href="#" class="btn">Faça uma cotação</a>
		</div>
	</div>
</div>
