<article class="landing-page" role="article" about="/dental">


	<section class="landing-banner landing-banner-dente-de-leite">
		<div class="container">
			<div class="text">
				<div class="title">
					<p>cuidando<br/>
						de sorrisos</p>
				</div>
				<div class="description">
					<p>O BB Dental 2 a 199 vidas é a solução ideal para pequenos e médios empresas. Investindo na saúde bucal de seus colaboradores, você garante pessoas mais satisfeitas e felizes no ambiente de trabalho.</p>
				</div>
				<a class="btn-yellow btn-big" href="/">
					Busque a rede credenciada
				</a>
			</div>
		</div>
		<div class="image">
			<picture>
				<img src="/themes/custom/bbseg/images/para-sua-empresa-2/banner.png">
			</picture>
		</div>
	</section>


	<section class="landing-card txt-50">
		<div class="container">
			<div class="box-html">
				<h2>BB DENTAL 2 A 199 VIDAS</h2>
				<p>&nbsp;</p>
				<p>Oferecer um plano odontológico aos seus colaboradores é de vital importância, não apenas para a saúde bucal deles, mas nos aspectos positivos que resultam de um ambiente de trabalho onde os colaboradores se sintam cuidados e assistidos. Tudo isso traz benefícios como:</p>
				<p>&nbsp;</p>
				<ul>
					<li>um ambiente positivo =  melhora nas relações entre as pessoas</li>
					<li>melhora de qualidade de vida = pessoas mais felizes</li>
					<li>pessoas mais felizes = um ambiente mais produtivo</li>
				</ul>
				<p>&nbsp;</p>
				<p>Contrate o produto de forma personalizada, com coberturas de acordo com as necessidades e demandas de sua empresa.</p>
			</div>
			<div class="image">
				<picture>
					<img src="/themes/custom/bbseg/images/para-sua-empresa-2/img-01.png">
				</picture>
			</div>
		</div>
	</section>


	<section class="landing-mini-cards">
		<div class="container">
			<div class="box-html">
				<h2>Alguns dos benefícios:</h2>
			</div>
			<div class="list-mini-cards">
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/para-sua-empresa-2/icon-01.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Livre escolha de dentistas
						</div>
						<div class="description">
							<p>Procedimentos cobertos podem ser reembolsados em dentistas fora da rede credenciada.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/para-sua-empresa-2/icon-02.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Sem carência
						</div>
						<div class="description">
							<p>O seu colaborador não precisa aguardar para usar o seu plano. Pode usá-lo desde o início.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/para-sua-empresa-2/icon-03.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Sem coparticipação
						</div>
						<div class="description">
							<p>O seu colaborador paga apenas a mensalidade, nada mais.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/para-sua-empresa-2/icon-04.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Sem limite de uso
						</div>
						<div class="description">
							<p>Pode usar quantas vezes precisar em tratamentos, emergências ou consultas de rotina.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/para-sua-empresa-2/icon-05.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Ampla rede credenciada
						</div>
						<div class="description">
							<p>Grande rede profissionais credenciados em todas as regiões do país.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/para-sua-empresa-2/icon-06.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Qualidade e segurança
						</div>
						<div class="description">
							<p>100% dos tratamentos são verificados por dentistas da área de gestão da BB Dental.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section-contrate">
		<h2 class="title">Saiba como contratar</h2>
		<div class="box-text-image">
			<div class="text">
				<div class="box-html">
					<h3>Invista na qualidade de vida dos seus colaboradores</h3>
					<p>&nbsp;</p>
					<p>Esse é o momento para oferecer mais um benefício para o seus colaboradores, que soma em todas as esferas: na saúde e na autoestima deles, ajudando a criar um ambiente mais saudável e produtivo na sua empresa.</p>
					<p>&nbsp;</p>
					<p>A BB Dental possui planos que cabem para qualquer tipo de empresa, com as suas especialidades e demandas.</p>
					<p>&nbsp;</p>
					<p>Entre agora em contato com um de nossos consultores e ofereça um motivo a mais para que seus colaboradores possam sorrir.</p>
				</div>
				<a href="#" class="btn">Solicite uma proposta</a>
			</div>
			<div class="image"><img src="/themes/custom/bbseg/images/para-sua-empresa-2/img-02.png"></div>
		</div>
	</section>


	<section class="section-faq">
		<div class="container">
			<div class="intro">
				<h2 class="title">
					Você ainda tem dúvidas?
				</h2>
				<p class="description">
					A gente esclarece pra você.
				</p>
			</div>
			<div class="list-accordion">
				<div class="accordion">
					<div class="accordion-header">
						Lorem Ipsum</div>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="accordion">
					<div class="accordion-header">
						Lorem Ipsum</div>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="accordion">
					<div class="accordion-header">
						Lorem Ipsum</div>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
			<div class="buttons">
				<a class="btn-white" href="#">Mais dúvidas</a>
			</div>
		</div>
	</section>
</article>
