<article class="landing-page" role="article" about="/dental">


	<section class="landing-banner landing-banner-dente-de-leite">
		<div class="container">
			<div class="text">
				<div class="title">
					<p>cuidando<br/>
						de sorrisos</p>
				</div>
				<div class="description">
					<p>Os sorrisos dos pequenos precisam de acompanhamento e cuidado desde cedo, garantindo a saúde dos sorrisos mais marcantes da vida.</p>
				</div>
				<a class="btn-yellow btn-big" href="/">
					Busque a rede credenciada
				</a>
			</div>
		</div>
		<div class="image">
			<picture>
				<img src="/themes/custom/bbseg/images/dente-de-leite/banner.png">
			</picture>
		</div>
	</section>


	<section class="landing-card">
		<div class="container">
			<div class="box-html">
				<h2>Dente de leite</h2>
				<p>&nbsp;</p>
				<p>Crianças pequenas têm mais dificuldade de sinalizar o que as incomoda, por isso é importante o acompanhamento regular da saúde bucal delas, ainda com a primeira dentição.</p>
				<p>&nbsp;</p>
				<p>O acompanhamento da saúde bucal por um profissional nessa fase da vida é muito importante.
				</p>
				<p>Quanto mais cedo é realizada a primeira consulta ao dentista ou é feito eventual diagnóstico, mais fácil a prevenção de problemas no futuro.</p>
				<p>&nbsp;</p>
				<p>O
					<strong>BB Dente de Leite</strong>
					é pensado para as crianças do 0 aos 7 anos, com uma cobertura de especialistas em odontopediatria para cuidar do sorriso dos pequenos, com conforto, tranquilidade e conveniência para toda a família.</p>
			</div>
			<div class="image">
				<picture>
					<img src="/themes/custom/bbseg/images/dente-de-leite/img-01.png">
				</picture>
			</div>
		</div>
	</section>


	<section class="landing-investments">
		<div class="container">
			<div class="box-html">
				<h2>Você pode escolher entre as opções</h2>
			</div>
			<div class="list-investments">
				<div class="item-investment">
					<div class="image"><img src="/themes/custom/bbseg/images/dente-de-leite/img-02.png"></div>
					<div class="text">
						<div class="title">
							Anual - sem carência
						</div>
						<div class="description">
							<p>R$287,88 por ano</p>
						</div>
						<div class="buttons">
							<a class="btn" href="/dente-de-leite">
								CONTRATAR
							</a>
						</div>
					</div>
				</div>
				<div class="item-investment">
					<div class="image"><img src="/themes/custom/bbseg/images/dente-de-leite/img-03.png"></div>
					<div class="text">
						<div class="title">
							Mensal - com carência
						</div>
						<div class="description">
							<p>R$23,99 por mês</p>
						</div>
						<div class="buttons">
							<a class="btn" href="/">
								CONTRATAR
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="obs-text">
				<p>Emergência e Urgência são liberadas para utilização em 24h após a confirmação do pagamento.</p>
			</div>
		</div>
	</section>


	<section class="landing-mini-cards">
		<div class="container">
			<div class="box-html">
				<h2>Você pode incluir as seguintes coberturas</h2>
			</div>
			<div class="list-mini-cards">
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/dente-de-leite/icon-01.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Limpezas e aplicação de flúor
						</div>
						<div class="description">
							<p>Remove o tártaro e ajuda  no controle das bactérias da boca da criança.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/dente-de-leite/icon-02.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Cirurgias e radiografias
						</div>
						<div class="description">
							<p>Planejamento completo de tratamentos e procedimentos.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/dente-de-leite/icon-03.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Restaurações
						</div>
						<div class="description">
							<p>Materiais e técnicas de última geração para recuperação da saúde bucal.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/dente-de-leite/icon-04.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Emergência
						</div>
						<div class="description">
							<p>Rede de atendimento 24h, 7 dias por semana.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/dente-de-leite/icon-05.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Odontopediatras de várias especialidades
						</div>
						<div class="description">
							<p>Especialistas para todas as necessidades da criança.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/dente-de-leite/icon-06.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Tratamentos de Canal
						</div>
						<div class="description">
							<p>Modernos procedimentos de tratamento de canal.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/dente-de-leite/icon-07.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Orientação de higiene bucal
						</div>
						<div class="description">
							<p>Profissionais capacitados para ajudar na prevenção de problemas dentários na criança.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
				<div class="item-mini-card">
					<div class="box-image">
						<div class="image"><img src="/themes/custom/bbseg/images/dente-de-leite/icon-08.png"></div>
					</div>
					<div class="text">
						<div class="title">
							Prótese Simples
						</div>
						<div class="description">
							<p>Em caso de perda de um dente, recuperando a saúde e estética bucal da criança.</p>
						</div>
					</div>
					<div class="buttons">
						<a class="btn" href="/dente-de-leite">
							saiba mais
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section-faq">
		<div class="container">
			<div class="intro">
				<h2 class="title">
					Você ainda tem dúvidas?
				</h2>
				<p class="description">
					A gente esclarece pra você.
				</p>
			</div>
			<div class="list-accordion">
				<div class="accordion">
					<div class="accordion-header">
						Lorem Ipsum</div>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="accordion">
					<div class="accordion-header">
						Lorem Ipsum</div>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="accordion">
					<div class="accordion-header">
						Lorem Ipsum</div>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
			<div class="buttons">
				<a class="btn-white" href="#">Mais dúvidas</a>
			</div>
		</div>
	</section>
</article>
