<article class="landing-page" role="article" about="/dental">


	<section class="landing-banner landing-banner-dente-de-leite">
		<div class="container">
			<div class="text">
				<div class="title">
					<p>SEU LAR<br/>
						PROTEGIDO</p>
				</div>
				<div class="description">
					<p>Aqui você tem coberturas para proteger o seu imóvel, além de serviços e assistências para o seu dia a dia, em caso de imprevistos.</p>
				</div>
				<a class="btn-yellow btn-big" href="/">
					FAZER COTAÇão
				</a>
			</div>
		</div>
		<div class="image">
			<picture>
				<img src="/themes/custom/bbseg/images/seguros-residencial/banner.jpg">
			</picture>
		</div>
	</section>


	<section class="landing-card txt-50">
		<div class="container">
			<div class="box-html">
				<h2>Por que minha casa precisa de um seguro?</h2>
				<p>A sua casa é fruto de muita dedicação, então é natural que você queira protegê-la de imprevistos. Um seguro residencial protege sua casa de danos e prejuízos causados por:</p>
				<p>&nbsp;</p>
				<ul>
					<li>impacto de veículo</li>
					<li>problemas elétricos</li>
					<li>assalto e/ou furto
					</li>
					<li>incêndio</li>
					<li>perda ou pagamento de aluguel
					</li>
					<li>vendaval</li>
					<li>granizo</li>
				</ul>
				<p>&nbsp;</p>
				<p>Além de outras questões de última hora.</p>
			</div>
			<div class="image">
				<picture>
					<img src="/themes/custom/bbseg/images/seguros-residencial/img-01.png">
				</picture>
			</div>
		</div>
	</section>


	<section class="landing-card txt-50 txt-right">
		<div class="container">
			<div class="box-html">
				<p>Os seguros residenciais da BB têm soluções que te deixam muito mais tranquilo, pois além de garantir o seu conforto e o da sua família, oferece:</p>
				<p>&nbsp;</p>
				<ul>
					<li>assistência 24h</li>
					<li>suporte de equipe especializada</li>
					<li>vantagens e benefícios</li>
				</ul>
				<p>&nbsp;</p>
				<p>Além de simples de contratar, cabe no seu bolso e é muito fácil acionar quando precisar.</p>
			</div>
			<div class="image">
				<picture>
					<img src="/themes/custom/bbseg/images/seguros-residencial/img-02.png">
				</picture>
			</div>
		</div>
	</section>


	<section class="landing-investments">
		<div class="container">
			<div class="box-html">
				<h2>Conheça nossos seguros para residências</h2>
			</div>
			<div class="list-investments">
				<div class="item-investment">
					<div class="image"><img src="/themes/custom/bbseg/images/seguros-residencial/img-03.png"></div>
					<div class="text">
						<div class="title">
							bb seguro residencial
						</div>
						<div class="description">
							<p>Proteção, benefícios, vantagens e um pacote de assistências que facilitam o seu dia a dia.</p>
						</div>
						<div class="buttons">
							<a class="btn-white" href="/dente-de-leite">
								Saiba mais
							</a>
							<a class="btn" href="/dente-de-leite">
								fazer cotação
							</a>
						</div>
					</div>
				</div>
				<div class="item-investment">
					<div class="image"><img src="/themes/custom/bbseg/images/seguros-residencial/img-04.png"></div>
					<div class="text">
						<div class="title">
							Bb seguro residencial estilo
						</div>
						<div class="description">
							<p>Proteções especiais que se ajustam à sua necessidade com benefícios e assistências para o seu dia a dia.</p>
						</div>
						<div class="buttons">
							<a class="btn-white" href="/dente-de-leite">
								Saiba mais
							</a>
							<a class="btn" href="/dente-de-leite">
								fazer cotação
							</a>
						</div>
					</div>
				</div>
				<div class="item-investment">
					<div class="image"><img src="/themes/custom/bbseg/images/seguros-residencial/img-05.png"></div>
					<div class="text">
						<div class="title">
							bb seguro residencial essencial
						</div>
						<div class="description">
							<p>Proteção e assistências básicas. E você pode incluir coberturas de acordo com a sua necessidade.</p>
						</div>
						<div class="buttons">
							<a class="btn-white" href="/dente-de-leite">
								Saiba mais
							</a>
							<a class="btn" href="/dente-de-leite">
								fazer cotação
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="obs-text">
				<a href="#" class="btn-white btn-no-width">Veja os produtos descontinuados</a>
			</div>
		</div>
	</section>


	<section class="landing-investments">
		<div class="container">
			<div class="box-html">
				<h2>Conheça os outros seguros bb</h2>
			</div>
			<div class="list-investments">
				<div class="item-investment">
					<div class="image"><img src="/themes/custom/bbseg/images/seguros-residencial/img-06.png"></div>
					<div class="text">
						<div class="title">
							BB Seguro Vida
						</div>
						<div class="description">
							<p>Proteja quem é importante pra você e tenha benefícios para usar no dia a dia.</p>
						</div>
						<div class="buttons">
							<a class="btn-white" href="/dente-de-leite">
								Saiba mais
							</a>
							<a class="btn" href="/dente-de-leite">
								fazer cotação
							</a>
						</div>
					</div>
				</div>
				<div class="item-investment">
					<div class="image"><img src="/themes/custom/bbseg/images/seguros-residencial/img-07.png"></div>
					<div class="text">
						<div class="title">
							BB Seguro Moto
						</div>
						<div class="description">
							<p>A proteção ideal para a sua moto, com coberturas especiais e assistências 24h. </p>
						</div>
						<div class="buttons">
							<a class="btn-white" href="/dente-de-leite">
								Saiba mais
							</a>
							<a class="btn" href="/dente-de-leite">
								fazer cotação
							</a>
						</div>
					</div>
				</div>
				<div class="item-investment">
					<div class="image"><img src="/themes/custom/bbseg/images/seguros-residencial/img-08.png"></div>
					<div class="text">
						<div class="title">
							SEGURO RURAL
						</div>
						<div class="description">
							<p>Do plantio à colheita, toda a proteção que o Produtor Rural precisa.</p>
						</div>
						<div class="buttons">
							<a class="btn-white" href="/dente-de-leite">
								Saiba mais
							</a>
							<a class="btn" href="/dente-de-leite">
								fazer cotação
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="landing-yellow-mini-cards">
		<div class="container">
			<div class="box-html">
				<h2>BB Seguro residencial em números</h2>
			</div>
			<div class="list-mini-cards">
				<div class="item-mini-card">
					<div class="text">
						<span>+999 mil</span>
						clientes que contam<br/>
						com a gente
					</div>
				</div>
				<div class="item-mini-card">
					<div class="text">
						<span>+99.999</span>
						sinistros pagos
					</div>
				</div>
				<div class="item-mini-card">
					<div class="text">
						<span>+99 milhões</span>
						de cotações feitas
					</div>
				</div>
				<div class="item-mini-card">
					<div class="text">
						<span>9.9/10</span>
						reputação da marca<br/>
						no Reclame Aqui
					</div>
				</div>
				<div class="item-mini-card">
					<div class="text">
						<span>+999</span>
						assistências<br/>
						acionadas por dia
					</div>
				</div>
				<div class="item-mini-card">
					<div class="text">
						<span>+99 mil</span>
						clientes participantes<br/>
						do programa de recompensa
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section-faq">
		<div class="container">
			<div class="intro">
				<h2 class="title">
					Você ainda tem dúvidas?
				</h2>
				<p class="description">
					A gente esclarece pra você.
				</p>
			</div>
			<div class="list-accordion">
				<div class="accordion">
					<div class="accordion-header">
						Lorem Ipsum</div>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="accordion">
					<div class="accordion-header">
						Lorem Ipsum</div>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="accordion">
					<div class="accordion-header">
						Lorem Ipsum</div>
					<div class="accordion-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
			<div class="buttons">
				<a class="btn-white" href="#">Mais dúvidas</a>
			</div>
		</div>
	</section>
</article>
