@mixin btn($background: $color-0, $color: $color-1, $border: $color-0) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #193db7;
  width: rem(250px);
  padding: 0 rem(10px);
  font-size: rem(14px);
  height: rem(44px);
  text-transform: uppercase;
  font-weight: bold;

  background: $background;
  color: $color;
  border: 1px solid $border;

  @include border-radius(rem(25px));
}

@mixin btn-white {
  @include btn($white, $color-0);
}

.btn {
  @include btn;
}

.btn-white {
  @include btn-white;
}
