<section class="landing-type">
	<div class="container">
		<div class="box-html">
			<p>Os diferentes planos odontológicos da BB Dental foram pensados para cada necessidade sua, de sua família ou dos funcionários da sua empresa. Com coberturas, especialidades e uma ampla rede de atendimento, oferecendo tranquilidade e assegurando às pessoas o que elas têm de melhor: o sorriso.</p>
		</div>

		<div class="list-types">
			<div class="type-item" style="background-image: url('/sites/default/files/2020-02/img-mini-banner-01_0.png');">
				<div class="text">
					<div class="title">
						<p>Pra você</p>
					</div>
					<div class="description">
						<p>Uma ampla cobertura de profissionais e especialidades, oferecendo tranquilidade e conveniência para você e sua família.</p>
					</div>
					<a class="btn" href="#">Saiba mais</a>
				</div>
			</div>
			<div class="type-item" style="background-image: url('/sites/default/files/2020-02/img-mini-banner-02.png');">
				<div class="text">
					<div class="title">
						<p>Para o seu negócio</p>
					</div>
					<div class="description">
						<p>As melhores soluções em plano odontológico para a sua empresa, cuidando da saúde bucal de seus colaboradores.</p>
					</div>
					<a class="btn" href="#">Saiba mais</a>
				</div>
			</div>
		</div>
	</div>
</section>
