/*** MEDIAS ***/
$screen-xs: 480px !default;
$screen-xs-max: 750px !default;
$screen-sm-max: 991px !default;
$screen-md-max: 1230px !default;
$screen-max: 1980px !default;

$xs: "screen and (max-width: #{$screen-xs})";
$max-xs: "screen and (max-width: #{$screen-xs-max})";
$max-sm: "screen and (max-width: #{$screen-sm-max})";
$max-md: "screen and (max-width: #{$screen-md-max})";

$min-sm: "screen and (min-width: #{$screen-xs-max + 1})";
$min-md: "print, screen and (min-width: #{$screen-sm-max + 1})"; // Rules for desktop and print

/*** LAYOUT WIDTH ***/
$mobile-width: 320px !default;
$tablet-width: 750px !default;
$desktop-width: 1920px !default;
$max-container: 1680px !default;

/*** COLORs ***/
$white: #FFFFFF;
$black: #000000;

$gray-0: #EFEFEF;
$gray-1: #999999;

$color-0: #193db7;
$color-1: #fff300;
$color-2: #2d6efa;
$color-3: #1a2e6f;

$color-danger: #ff5656;

$color-easy: #d2df8f;
$color-intermediate: #fbc36c;
$color-hard: #ea6753;


/*** FONTs ***/
$font-0: "Open Sans",
sans-serif;
$font-1: "Bebas Neue",
sans-serif;

$font-size: 16px;

/*** EASES ***/
$ease-0: all 0.3s ease-in-out;
$ease-1: all 0.5s ease-in-out;

$ease-header: transform 0.5s ease-in-out;

$ease-transform-0: transform 0.5s ease-in-out,
visibility 0.1s linear 1s;
$ease-transform-1: transform 0.5s ease-in-out,
visibility 0.1s linear 0s;

/*** CONFIGs ***/
$img-path: "../img/";
$font-path: "../fonts/";

$version: "#{random(9999)}" !default;
$sprite-padding: 2px;
$padding: 20px;

$height-header: 190px;
$height-header-xs: 60px;
